<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        {% for blog_post in posts: %}
            {% if blog_post["id"] == 2: %}
                <h1>{{ blog_post["title"] }}</h1>
                <h2>{{ blog_post["subtitle"] }}</h2>
            {% endif %}
        {% endfor %}
    
    </body>
</html>
