<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Hello World!</h1>
        <h2>{{5 * 6}}</h2> <!-- seen as a python code instead of hmtl code thanks to jinja -->
        <h3>{{num}}</h3>
    </body>
    <footer>
        <!-- <p>@ Copyright {{CURRENT_YEAR}}, Created by {{NAME}}</p> -->
    </footer>
</html>
