<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content=" " />
		<meta name="description" content=" " />
		<title>Hobbies</title>
		<link rel="stylesheet" href="index.css">
	</head>
	<body>
		<h1>Hobbies</h1>
		<ol start="7"> <!-- or type="i" -->
			<li><a href="https://en.wikipedia.org/wiki/Computer_programming">Programming</a></li>
			<li>Studying</li>
		</ol>
		
	</body>
</html>
