<!DOCTYPE HTML>

<html>
	<head>
		<title>Personl Site</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Andrew Flint</h1>
						<p>Programmer &nbsp;&bull;&nbsp; CCNA holder &nbsp;&bull;&nbsp; Student </p>
						<nav>
							<ul>
								<li><a href="https://twitter.com/Skriptonus" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.linkedin.com/in/ondřej-pazourek-000414244/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://github.com/Wanzaz" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<li><a href="mailto:wanzaz.contact@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>
